<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Login_Filter</filter-name>
        <filter-class>Classes.Login_Filter</filter-class>
    </filter>
    <filter>
        <filter-name>Student_Filter</filter-name>
        <filter-class>Classes.Student_Filter</filter-class>
    </filter>
    <filter>
        <filter-name>Staff_FIlter</filter-name>
        <filter-class>Classes.Staff_FIlter</filter-class>
    </filter>
    <!-- Staff Filter  -->
    <filter-mapping>
        <filter-name>Student_Filter</filter-name>
        <url-pattern>/StudentDashboard.html</url-pattern>
        <url-pattern>/Display_Test_Details</url-pattern>
        <url-pattern>/Result</url-pattern>
        <url-pattern>/StartTest</url-pattern>
        <url-pattern>/StudentDetails</url-pattern>
        <url-pattern>/Test_History</url-pattern>
    </filter-mapping>
    <!-- Admin Filter  -->
    <filter-mapping>
        <filter-name>Login_Filter</filter-name>
        <url-pattern>/AdminDashboard.html</url-pattern>
        <url-pattern>/Add_Admin</url-pattern>
        <url-pattern>/Admin_Change_Password</url-pattern>
        <url-pattern>/AddStaff</url-pattern>
        <url-pattern>/AddStudent</url-pattern>
        <url-pattern>/AddStaff.html</url-pattern>
        <url-pattern>/AddStudent.html</url-pattern>
        <url-pattern>/Bin</url-pattern>
        <url-pattern>/DisplayStaffData</url-pattern>
        <url-pattern>/DisplayStudentData</url-pattern>
        <url-pattern>/EditStaff</url-pattern>
        <url-pattern>/EditStudent</url-pattern>
        <url-pattern>/Restore</url-pattern>
        <url-pattern>/SaveEditedStaff</url-pattern>
        <url-pattern>/SaveEditedStudent</url-pattern>
        <url-pattern>/SortData</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Staff_FIlter</filter-name>
        <url-pattern>/TeacherDashboard.html</url-pattern>
        <url-pattern>/Assign_Marks</url-pattern>
        <url-pattern>/Assignment_Received</url-pattern>
        <url-pattern>/DisplayResult</url-pattern>
        <url-pattern>/Display_Uploaded_Tests</url-pattern>
        <url-pattern>/Download_Student_Assignment</url-pattern>
        <url-pattern>/Save_File</url-pattern>
        <url-pattern>/Save_Test_Details</url-pattern>
        <url-pattern>/Save_Test_Questions</url-pattern>
        <url-pattern>/StaffDetails</url-pattern>
        <url-pattern>/Staff_Change_Password</url-pattern>
        <url-pattern>/Staff_Display_Assignments</url-pattern>
        <url-pattern>/Take_Test_Details</url-pattern>
        <url-pattern>/Test_Status</url-pattern>
        <url-pattern>/Upload_Assignment</url-pattern>
        <url-pattern>/Upload_Files</url-pattern>
        <url-pattern>/Upload_Online_Video</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Student_Filter</filter-name>
        <url-pattern>/StudentDashboard.html</url-pattern>
        <url-pattern>/Display_Files</url-pattern>
        <url-pattern>/Display_Online_Video</url-pattern>
        <url-pattern>/Display_Test_Details</url-pattern>
        <url-pattern>/Download_Assignment</url-pattern>
        <url-pattern>/Download_Files</url-pattern>
        <url-pattern>/Result</url-pattern>
        <url-pattern>/Save_Upload_Assignment</url-pattern>
        <url-pattern>/StartTest</url-pattern>
        <url-pattern>/StartVideo</url-pattern>
        <url-pattern>/StudentDetails</url-pattern>
        <url-pattern>/Student_Change_Password</url-pattern>
        <url-pattern>/Student_Display_Assignment</url-pattern>
        <url-pattern>/Student_Upload_Assignment</url-pattern>
        <url-pattern>/Test_History</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Login_Filter</filter-name>
        <url-pattern>/AdminDashboard.html</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginValidation</servlet-name>
        <servlet-class>Classes.LoginValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayStudentData</servlet-name>
        <servlet-class>Classes.Admin.DisplayStudentData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudent</servlet-name>
        <servlet-class>Classes.Admin.EditStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveEditedStudent</servlet-name>
        <servlet-class>Classes.Admin.SaveEditedStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>Classes.Admin.AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaff</servlet-name>
        <servlet-class>Classes.Admin.AddStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaff</servlet-name>
        <servlet-class>Classes.Admin.EditStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveEditedStaff</servlet-name>
        <servlet-class>Classes.Admin.SaveEditedStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayStaffData</servlet-name>
        <servlet-class>Classes.Admin.DisplayStaffData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortData</servlet-name>
        <servlet-class>Classes.Admin.SortData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>Classes.SignOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDetails</servlet-name>
        <servlet-class>Classes.Student.StudentDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bin</servlet-name>
        <servlet-class>Classes.Admin.Bin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Restore</servlet-name>
        <servlet-class>Classes.Admin.Restore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>abc</servlet-name>
        <servlet-class>Classes.Staff.Take_Test_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save_Quiz_Details</servlet-name>
        <servlet-class>Classes.Staff.Save_Test_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save_Test_Questions</servlet-name>
        <servlet-class>Classes.Staff.Save_Test_Questions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display_Test_Details</servlet-name>
        <servlet-class>Classes.Student.Display_Test_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartTest</servlet-name>
        <servlet-class>Classes.Student.StartTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Result</servlet-name>
        <servlet-class>Classes.Student.Result</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test_History</servlet-name>
        <servlet-class>Classes.Student.Test_History</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDetails</servlet-name>
        <servlet-class>Classes.Staff.StaffDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display_Uploaded_Tests</servlet-name>
        <servlet-class>Classes.Staff.Display_Uploaded_Tests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayResult</servlet-name>
        <servlet-class>Classes.Staff.DisplayResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test_Status</servlet-name>
        <servlet-class>Classes.Staff.Test_Status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload_Files</servlet-name>
        <servlet-class>Classes.Staff.Upload_Files</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save_File</servlet-name>
        <servlet-class>Classes.Staff.Save_File</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download_Files</servlet-name>
        <servlet-class>Classes.Student.Download_Files</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload_Online_Video</servlet-name>
        <servlet-class>Classes.Staff.Upload_Online_Video</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display_Online_Video</servlet-name>
        <servlet-class>Classes.Student.Display_Online_Video</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartVideo</servlet-name>
        <servlet-class>Classes.Student.StartVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display_Files</servlet-name>
        <servlet-class>Classes.Student.Display_Files</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload_Assignment</servlet-name>
        <servlet-class>Classes.Staff.Upload_Assignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download_Assignment</servlet-name>
        <servlet-class>Classes.Student.Download_Assignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Staff_Display_Assignments</servlet-name>
        <servlet-class>Classes.Staff.Staff_Display_Assignments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Assignment_Received</servlet-name>
        <servlet-class>Classes.Staff.Assignment_Received</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download_Student_Assignment</servlet-name>
        <servlet-class>Classes.Staff.Download_Student_Assignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student_Display_Assignment</servlet-name>
        <servlet-class>Classes.Student.Student_Display_Assignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student_Upload_Assignment</servlet-name>
        <servlet-class>Classes.Student.Student_Upload_Assignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save_Upload_Assignment</servlet-name>
        <servlet-class>Classes.Student.Save_Upload_Assignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student_Change_Password</servlet-name>
        <servlet-class>Classes.Student.Student_Change_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Change_Password</servlet-name>
        <servlet-class>Classes.Change_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Staff_Change_Password</servlet-name>
        <servlet-class>Classes.Staff.Staff_Change_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Change_Password</servlet-name>
        <servlet-class>Classes.Admin.Admin_Change_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Assign_Marks</servlet-name>
        <servlet-class>Classes.Staff.Assign_Marks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Admin</servlet-name>
        <servlet-class>Classes.Admin.Add_Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Student_Excel</servlet-name>
        <servlet-class>Classes.Admin.Add_Student_Excel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Excel</servlet-name>
        <servlet-class>Classes.Admin.Add_Excel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download_Excel_Assignment</servlet-name>
        <servlet-class>Classes.Staff.Download_Excel_Assignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download_Excel_Test</servlet-name>
        <servlet-class>Classes.Staff.Download_Excel_Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginValidation</servlet-name>
        <url-pattern>/LoginValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayStudentData</servlet-name>
        <url-pattern>/DisplayStudentData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudent</servlet-name>
        <url-pattern>/EditStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveEditedStudent</servlet-name>
        <url-pattern>/SaveEditedStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaff</servlet-name>
        <url-pattern>/EditStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaff</servlet-name>
        <url-pattern>/AddStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveEditedStaff</servlet-name>
        <url-pattern>/SaveEditedStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayStaffData</servlet-name>
        <url-pattern>/DisplayStaffData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortData</servlet-name>
        <url-pattern>/SortData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/SignOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDetails</servlet-name>
        <url-pattern>/StudentDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bin</servlet-name>
        <url-pattern>/Bin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Restore</servlet-name>
        <url-pattern>/Restore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>abc</servlet-name>
        <url-pattern>/QuizDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save_Quiz_Details</servlet-name>
        <url-pattern>/Save_Quiz_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save_Test_Questions</servlet-name>
        <url-pattern>/Save_Test_Questions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display_Test_Details</servlet-name>
        <url-pattern>/TestDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartTest</servlet-name>
        <url-pattern>/StartTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Result</servlet-name>
        <url-pattern>/Result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test_History</servlet-name>
        <url-pattern>/Test_History</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDetails</servlet-name>
        <url-pattern>/StaffDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display_Uploaded_Tests</servlet-name>
        <url-pattern>/Display_Uploaded_Tests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayResult</servlet-name>
        <url-pattern>/DisplayResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test_Status</servlet-name>
        <url-pattern>/Test_Status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload_Files</servlet-name>
        <url-pattern>/Upload_Files</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save_File</servlet-name>
        <url-pattern>/Save_File</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download_Files</servlet-name>
        <url-pattern>/Download_Files</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload_Online_Video</servlet-name>
        <url-pattern>/Upload_Online_Video</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display_Online_Video</servlet-name>
        <url-pattern>/Display_Online_Video</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartVideo</servlet-name>
        <url-pattern>/StartVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display_Files</servlet-name>
        <url-pattern>/Display_Files</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload_Assignment</servlet-name>
        <url-pattern>/Upload_Assignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download_Assignment</servlet-name>
        <url-pattern>/Download_Assignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Staff_Display_Assignments</servlet-name>
        <url-pattern>/Staff_Display_Assignments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Assignment_Received</servlet-name>
        <url-pattern>/Assignment_Received</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download_Student_Assignment</servlet-name>
        <url-pattern>/Download_Student_Assignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student_Display_Assignment</servlet-name>
        <url-pattern>/Student_Display_Assignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student_Upload_Assignment</servlet-name>
        <url-pattern>/Student_Upload_Assignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save_Upload_Assignment</servlet-name>
        <url-pattern>/Save_Upload_Assignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student_Change_Password</servlet-name>
        <url-pattern>/Student_Change_Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Change_Password</servlet-name>
        <url-pattern>/Change_Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Staff_Change_Password</servlet-name>
        <url-pattern>/Staff_Change_Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Change_Password</servlet-name>
        <url-pattern>/Admin_Change_Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Assign_Marks</servlet-name>
        <url-pattern>/Assign_Marks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Admin</servlet-name>
        <url-pattern>/Add_Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Student_Excel</servlet-name>
        <url-pattern>/Add_Student_Excel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Excel</servlet-name>
        <url-pattern>/Add_Excel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download_Excel_Assignment</servlet-name>
        <url-pattern>/Download_Excel_Assignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download_Excel_Test</servlet-name>
        <url-pattern>/Download_Excel_Test</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
</web-app>
